<p id="notice"><%= notice %></p>
<div class="container">
    <h2><center>ARTICLES</center></h2>          
    <table class="table table-striped">
      <thead>
        <tr class="column-name">
        <center>
          <th>Save</th>
          <th>Title</th>
          <th>Author</th>
          <th>Source</th>
          <th>Share</th>
          
        </tr>
      </thead>
      
      <tbody>

        <tr>
          <% @data_articles.each do |x| %>
            <% @x = x %>
            <td><%= render 'form' %></td>
            <td><a href="<%=x ["url"] %>" target="_blank"><%= x["title"] %></a></td>
            <% if x["author"].to_s.start_with?('http') %>
            <% else %>
              <td><%= x["author"] %></td>
            <td><%= x["source"]["name"] %></td>
            <td><a class="glyphicon glyphicon-share" href="https://twitter.com/intent/tweet?text=<%= "I found this article on Being Black in America: " %><%= x["url"]%>" data-size="small"></a></td>
            <% end %>
        </tr>
          <% end %>
      </tbody>
      
    </table>
  </div>
<p>
