<p id="notice"><%= notice %></p>
<div class="container">
    <h2><center>ARTICLES</center></h2>          
    <table class="table table-striped">
      <thead>
        <tr class="column-name">
          <th>Save</th>
          <th>Title</th>
          <th>Author</th>
          <th>Source</th>
        </tr>
      </thead>
      
      <tbody>

        <tr>
          <% @data_articles.each do |x| %>
            <td><%= render 'form' %></td>
            <td><a href="<%=x ["url"] %>" target="_blank"><%= x["title"] %></a></td>
            <% if x["author"].to_s.start_with?('http') %>
            <% else %>
              <td><%= x["author"] %></td>
            <td><%= x["source"]["name"] %></td>
            <% end %>
        </tr>
          <% end %>
      </tbody>
      
    </table>
  </div>
<p>
