<div class="jumbotron">
  <div class="container text-center">
    <h1>RESEARCH TOPICS</h1>      
    <p>BEING BLACK IN AMERICA</p>
  </div>
</div>
  
<div class="jumbotron">
<main role="main">

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-3">
              <div class="card mb-4 box-shadow">
              <div class="d-flex justify-content-between align-items-center">
                   <div class="btn-group">
                   <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Racial Discrimination", "/topics/racial_discrimination/articles", class: "button" %></button>                  
                   </div>
                   <p>
                </div>
                <img class="card-img-top" data-src="racial.jpg" alt="Racial Discrimination" style="height: 200px; width: 100%; display: block;" src="<%=image_url('racial.jpg')%>" data-holder-rendered="true">
                </div>
            </div>

            <div class="col-md-3">
              <div class="card mb-4 box-shadow">
              <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Police Brutality", "topics/police_brutality/articles", class: "button" %></button>                  
              </div>
              <p>
           </div>
           <img class="card-img-top" data-src="police.jpg" alt="Police Brutality" style="height: 200px; width: 100%; display: block;" src="<%=image_url('police.jpg')%>" data-holder-rendered="true">
           </div>
            </div>

            <div class="col-md-3">
              <div class="card mb-4 box-shadow">
                <div class="d-flex justify-content-between align-items-center">
                   <div class="btn-group">
                   <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Black Lives Matter", "topics/black_lives_matter/articles", class: "button" %></button>                  
                   </div>
                   <p>
                </div>
                <img class="card-img-top" data-src="blm.jpg" alt="BLM" style="height: 200px; width: 100%; display: block;" src="<%=image_url('blm.jpg')%>" data-holder-rendered="true">
                </div>
            </div>

            <div class="col-md-3">
              <div class="card mb-4 box-shadow">
              <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Incarceration Disparities", "topics/black_incarceration/articles", class: "button" %></button>                  
              </div>
              <p>
           </div>
           <img class="card-img-top" data-src="incarceration.jpg" alt="Incarceration" style="height: 200px; width: 100%; display: block;" src="<%=image_url('incarceration.jpg')%>" data-holder-rendered="true">
           </div>
            </div>
           
           
          </div>
        </div>
      </div>

    </main>
    </div>