<!DOCTYPE html>
<html>
  <head>
  <title>BeingBlackInAmerica</title>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">BEING BLACK IN AMERICA</a>
    </div>
    <ul class="nav navbar-nav">
    <% if user_signed_in? %>
      <li class="active"><a href="/">Home</a></li>
      <li><a href="#">Saved Searches</a></li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% end %>
    </ul>
  </nav>

  <div class="container">
    <%= yield %>
  </div>




  <%= javascript_include_tag "application" %>
 </body>
</html>
